---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<!-- {% capture written_year %}'None'{% endcapture %} -->
{% for post in site.projects reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr> <br>
<!-- <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=UZJ9ux5VmEZdvi5LH8FFQfu29Bxo2nMnPtzEH4QyPe4"></script> -->
<!-- <div style="width:300px; margin:auto;">
  <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5t259rss3n1&amp;m=1&amp;c=ff0000&amp;cr1=ffffff&amp;f=calibri&amp;l=0&amp;s=300" async="async"></script>
</div> -->