---
title: "Private and Selective Context Verification"
collection: projects
permalink: /projects/context-verification
excerpt: "Homomorphic encryption, Machine learning, Reliability.<br/> <br/> <br/>"
date: 2016-01-01
venue: 
paperurl: 
citation:
teaser: 'context-verification'
---
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users routinely disclose their locations to various applications. In some circumstances, an application might need strong evidence about a user's whereabouts: for instance, to make sure a picture or video was actually taken at a given time and place. However, for smartphone applications, there is no reliable source of location information that is foolproof and reliable. The goal of this project is to enable users of smart devices to prove their whereabouts at any point in time. The key idea is to crowd-source location information. Location accuracy is ensured by modeling the trajectory of devices as a physical system, and pairwise mutual encounters as springs. If two devices have encountered each other they have to be within a certain distance of each other, for instance within Bluetooth range; if one of their GPS coordinates is wrong and places them far away, the spring will pull them close together. Furthermore, devices must have traveled with plausible speed/acceleration, so this physical constraint can be modeled as well with a spring connecting subsequent location recordings of the same device.
<br/>
<div align="center"><img src="/images/projects/context-verification-1.png" alt="context-verification-1" width="325"> &nbsp; &nbsp; &nbsp; <img src="/images/projects/context-verification-2.png" alt="context-verification-2" width="285"> </div>